<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Musavisa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <div id="container">
      
     <ion-text><h1>Musavisa</h1></ion-text>
     <ion-text><h5>Kysymys {{quizService.getIndexOfActiveQuestion()}}/{{quizService.getNumberOfQuestions()}}</h5></ion-text>
      <ion-text><h5>Visaisia kysymyksiä suomi-punkin syvästä päästä</h5></ion-text>
      <ion-text color="primary"><h5>{{quizService.getQuestionOfActiveQuestion()}}</h5></ion-text>
        <ion-list>
          <ion-radio-group>
            <ion-item *ngFor="let option of quizService.getOptionsOfActiveQuestion(); let i=index">
              <ion-label>{{option}}</ion-label>
              <ion-radio *ngIf=!quizService.isAnswered() (click)="checkOption(i)"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <ion-button [disabled]="!quizService.isAnswered()" shape="round" color="success" (click)="continue()" tappable>Continue</ion-button>
      <ion-text *ngIf=quizService.isOptionSelected()><h6>{{feedback}}</h6></ion-text>
     </div>   
    
    </ion-content>