<ion-header>
  <ion-toolbar>
    <ion-title>Tulos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding" id="container">
    <ion-text><h5>Aikasi Oli:  {{quizService.getDuration()}}</h5></ion-text>
    <!--<ion-text><h5>Vastasit oikein:  {{quizService.getNumberOfCorrectAnswers()}}</h5></ion-text>-->
    <ion-button block (click)="back_home()">Uudelleen</ion-button>
  </div>
</ion-content>
