<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Musavisa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding" id="container">
    <ion-button block (click)="start_visa()">Aloita Visa</ion-button>
    <img src="../../assets/imgs/musavisa.jpg" (click)="start_visa();" tappable />
  </div>
</ion-content>
